= render "shared/header"
= render '/shared/breadcrumb'

%main.l-container.clearfix
  .l-content
    %section.mypage-user-icon
      -# TODO: ユーザープロフ編集ページへ、適した内容に修正
      = link_to "", {controller: "users", action: "show"} do
        %figure
          -# TODO: ユーザーそれぞれの画像パスへ変更
          = image_tag "avatar.jpg", size: "60x60"
          %img{:alt => "", :height => "60", :src => "#", :width => "60"}/
        %h2.bold 検証
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0

    = render "shared/notification-todo"

    %aside.modal{"data-close" => "modal", "data-modal" => "banner"}
    -# モーダル表示、どのタイミングで表示されるのか謎、一応ソースだけ残しておく

    -#   .modal__inner.modal__banner
    -#     .modal__banner__eye-catch
    -#       %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?376951604"}/
    -#       %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?376951604"}/
    -#     .modal__banner__body
    -#       %h2 今すぐ無料ダウンロード！
    -#       %p.bold 全ての機能を使えるスマホアプリはこちら！
    -#       .modal__banner__app.clearfix
    -#         %a.pull-left{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
    -#           %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?376951604"}/
    -#         %a.pull-left{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
    -#           %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?376951604"}/
    -#       %a.modal__banner__app-open{"data-action" => "app/launch", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://", :href => ""}
    -#         アプリで開く
    -#     %i.icon-close{"data-close" => "modal"}

    = render "shared/transaction-now-old"

  = render "shared/mypage-nav"
= render "shared/aside"
= render "shared/footer"
