= render "/shared/header"
= render '/shared/breadcrumb'

%main.two-column-container
  .two-column-container__r
    %button.logout-btn= link_to "ログアウト", destroy_user_session_path, method: :delete

  = render '/shared/mypage-nav'

= render 'shared/aside'
= render 'shared/footer'
