.single-wrapper
  = render partial: "/shared/single-header"
  .single-container
    .sign-up
      .panel
        .panel__head 新規会員登録
        .panel__inner
          - if @error_message
            .error_message
              = @error_message
          .mail-registration
            .mail-registration__left
              .icon-envelope
            .mail-registration__right
              = link_to "メールアドレスで登録", {controller:"users",action:"new",url:"registration"}
          .facebook-registration
            .facebook-registration__left
              .icon-facebook-square
            .mail-registration__right
              = link_to "Facebookで登録", user_facebook_omniauth_authorize_path
          .google-registration
            .google-registration__left
              = image_tag 'G_logo.png', height:'20px'
            .google-registration__right
              = link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path
  = render partial: "/shared/single-footer"