.wrapper
  %header.sp-header.visible-sp
    .sp-header__content
      %h1.sp-header__content__logo
        = link_to 'メルカリトップページへのリンク', src: '#' do
          = image_tag "logo.svg", alt: 'mercari', size:"134x36"

      .sp-header__user-nav
        %ul.sp-header__user-nav
          %li.sp-header__user-nav__list.icon-bell
            = link_to '', src: '#', class: 'sp-header__user-icon'

          %li.sp-header__user-nav__list.icon-check
            = link_to '', src: '#', class: 'sp-header__user-icon'

          %li.sp-header__user-nav__list
            = link_to 'マイページへのリンク', src: '#', class: 'sp-header-user-icon user-profile__avatar' do
              = image_tag 'avatar.jpg', alt: 'プロフィール写真', width: 32

      .header__search-bar
        = form_tag '#', method: :get do
          = text_field :keyword, params[:keyword], { placeholder: "何をお探しですか？", class: "header__search-bar__search"}
          %i.icon-search

      %ul.header__nav
        %li.header__nav__list.icon-list= link_to 'カテゴリー一覧', src: '#'

        %li.header__nav__list.icon-tag= link_to 'ブランドから探す', src: '#'

%header.pc-header.visible-pc
  .pc-header__inner
    .pc-header__top-content
      %h1.pc-header__top-content__logo
        = link_to 'メルカリトップページへのリンク', src: '#' do
          = image_tag "logo.svg", alt: 'mercari', width: 134, height: 36

      .header__search-bar
        = form_tag '#', method: :get do
          = text_field :keyword, params[:keyword], { placeholder: "何をお探しですか？", class: "header__search-bar__search"}
          %i.icon-search

    .pc-header__nav__box
      .pc-header__nav__list-l
        %ul.header__nav
          = link_to 'カテゴリー一覧へのリンク' do
            %li.header__nav__list.categoly__list.icon-list カテゴリーから探す
            -# gem の実装方法が決まったらコメントアウトを外す
              -# %ul.categoly__list__root
                -# %li.categoly__list__cell カテゴリー1
                -# %li.categoly__list__cell カテゴリー2
                -# %li.categoly__list__cell カテゴリー3
          = link_to 'ブランドから探すへのリンク' do
            %li.header__nav__list.categoly__list.icon-tag ブランドから探す
            -# gem の実装方法が決まったらコメントアウトを外す
              -# %ul.bland__list__root
                -# %li.bland__list__cell ブランド１
                -# %li.bland__list__cell ブランド２
                -# %li.bland__list__cell ブランド３
      .pc-header__nav__list-r
        %ul.pc-header__user-nav
          %li.pc-header__user-nav__list#notification-list__root.icon-bell= link_to 'お知らせ', src: '#'
          %ul#notification-list.user-box
            %li.user-box__notification-list__link
              .merucari-avatar
              %figure
                =image_tag 'mercari_profile.png', alt: "icon"
              .notification-box.icon-arrow-r
                %p.notification-box__message お知らせ１
                %p.notification-box__date-passed.icon-clock 1日前
            %li.pc-header__notification-list__link
              .merucari-avatar
              %figure
                =image_tag 'mercari_profile.png', alt: "icon"
              .notification-box.icon-arrow-r
                %p.notification-box__message お知らせ１
                %p.notification-box__date-passed.icon-clock 1日前
            %li.pc-header__notification-list__link
              %figure
                =image_tag 'mercari_profile.png', alt: "icon"
              .notification-box.icon-arrow-r
                %p.notification-box__message お知らせ１
                %p.notification-box__date-passed.icon-clock 1日前
            %li.pc-header__notification-list__link
              %figure
                =image_tag 'mercari_profile.png', alt: "icon"
              .notification-box.icon-arrow-r
                %p.notification-box__message お知らせ１
                %p.notification-box__date-passed.icon-clock 1日前


          %li.pc-header__user-nav__list.icon-check= link_to 'やることリスト', src: '#'
          .pc-header__user-box.user-box#todo-list
            .todo-list__inner
              %p.todo-list__message 現在、やることリストはありません

          %li.pc-header__user-nav__list
            = link_to 'マイページへのリンク', src: '#', class: 'user-profile__avatar' do
              = image_tag 'avatar.jpg', alt: 'プロフィール写真', width: 32
              %span{style: "display:inline-block; height: 40px;"} マイページ
          .pc-header__user-box.pc-header__mypage-box
            -# .pc-header__mypage-state.text-center
            -#   %figure
            -#     -# = image_tag src: '#', alt: 'プロフィール写真', width: 60
            -#     %figcaption ユーザーネーム
            -#   %ul.pc-header-mypage__review__list
            -#     %li
            -#       = link_to '出品数： **', src: '#'
            -#     %li
            -#       = link_to '評価： **', src: '#'
            -#   %ul.pc-header-mypage__money-piont
            -#     %li
            -#       = link_to '売上金', src: '#' do
            -#         .l-lef
            -#           %p 売上金
            -#         .l-right
            -#           %p ¥ 0,000
            -#           %i.icon-allow-right
            -#     %li
            -#       = link_to 'ポイント', src: '#' do
            -#         .l-left
            -#           %p ポイント
            -#         .l-right
            -#           %p 0 P
            -#           %i.icon-allow-right
              -# %ul.pc-header-mypage__list
              -#   %li.pc-header-mypage__list__item
              -#     = link_to 'いいね！一覧', src: '#' do
              -#       %i.icon-allow-right
              -#   %li.pc-header-mypage__list__item
              -#     = link_to '出品した商品 - 出品中', src: '#' do
              -#       %i.icon-allow-right
              -#   %li.pc-header-mypage__list__item
              -#     = link_to '出品した商品 - 取引中', src: '#' do
              -#       %i.icon-allow-right
              -#   %li.pc-header-mypage__list__item
              -#     = link_to '出品した商品 - 売却済', src: '#' do
              -#       %i.icon-allow-right
              -#   %li.pc-header-mypage__list__item
              -#     = link_to '購入した商品 - 取引中', src: '#' do
              -#       %i.icon-allow-right
              -#   %li.pc-header-mypage__list__item
              -#     = link_to '購入した商品 - 過去の取引', src: '#' do
              -#       %i.icon-allow-right
