.item-box__container
  - items.each do |item|
    %section.item-box
      = link_to item_path(id: item.id) do
        = image_tag item.images[0].image.to_s, class: 'item-box__photo'
        -# = image_tag ("#"), alt: #{'出品タイトル'}, class: #{'ブランド名'} バックエンドができればこちらに差し替え
        -if item.status == 2
          .soldout-color
          .soldout
        .visible-small-and-sp-only
          %p= "¥ #{item.price}"
        .item-box__info
          %h3.item-box__info__name
            = item.name
          .item-box__bottom
            %p.item-box__bottom__price
              ¥
              = item.price
            %p.item-box__bottom__like.icon-like 1
            %p.item-box__bottom__tax (税込)
