.item-box__container
  - @items.each do |item|
    %section.item-box
      = link_to item_path(:id) do
        = image_tag ("https://placehold.jp/b3b3b3/ffffff/200x200.png?text=item1")
        -# データベースのデータが整ったらコメントアウトを外す
        -# = image_tag item.images[0].image
      .visible-small-and-sp-only
        %p= "¥ #{item.price}"
      .item-box__info
        %h3.item-box__info__name
          = item.name
        .item-box__bottom
          %p.item-box__bottom__price
            ¥
            = item.price
          %p.item-box__bottom__like.icon-like 1
          %p.item-box__bottom__tax (税込)
