.single-wrapper
  = render partial: "/shared/single-header"
  .single-container
    .sign-in
      .panel
        .panel__head
          %p{class: "panel__head__text"} アカウントをお持ちでない方はこちら
          .panel__head__registration-link-btn
            = link_to "新規会員登録" , new_user_path
        .panel__inner
          .sns-login
            .sns-login__facebook
              .sns-login__facebook__left
                .icon-facebook-square
              .sns-login__facebook__right
                = link_to "Facebookでログイン", src:"#"
            .sns-login__google
              .sns-login__google__left
                = image_tag 'G_logo.png', height:'20px'
              .sns-login__google__right
                = link_to "Googleでログイン", src:"#"
          .login-form
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .field
                = f.email_field :email, class:"login-form__email", placeholder:"メールアドレス"
                = f.password_field :password, class:"login-form__password", placeholder:"パスワード"
                = recaptcha_tags
                = f.submit "ログイン", class:"login-form__submit"
            .login-form__forget-password
              = link_to "パスワードをお忘れの方", src:"#"
  = render partial: "/shared/single-footer"