.items-box.clearfix
  %section.items-box__container
    = link_to '各アイテムへのリンク', src: '#' do
      %figure.items-box__photo
        -# = image_tag ("#"), alt: #{'出品タイトル'}, class: #{'ブランド名'}
      .items-box__info
        %h3.items-box__name アイテム名１
        .items-box__bottom
          %p.items-box__bottom__price ¥0,000
          %p.items-box__bottom__likes.icon-like 1
          %p.items-box__bottom__tax (税込)

.items-box.clearfix
  %section.items-box__container
    = link_to '各アイテムへのリンク', src: '#' do
      %figure.items-box__photo
        -# = image_tag ("#"), alt: #{'出品タイトル'}, class: #{'ブランド名'}
      .items-box__info
        %h3.items-box__name アイテム名2
        .items-box__bottom
          %p.items-box__bottom__price ¥0,000
          %p.items-box__bottom__likes.icon-like 1
          %p.items-box__bottom__tax (税込)

.items-box.clearfix
  %section.items-box__container
    = link_to '各アイテムへのリンク', src: '#' do
      %figure.items-box__photo
        -# = image_tag ("#"), alt: #{'出品タイトル'}, class: #{'ブランド名'}
      .items-box__info
        %h3.items-box__name アイテム名3
        .items-box__bottom
          %p.items-box__bottom__price ¥0,000
          %p.items-box__bottom__likes.icon-like 1
          %p.items-box__bottom__tax (税込)

.items-box.clearfix
  %section.items-box__container
    = link_to '各アイテムへのリンク', src: '#' do
      %figure.items-box__photo
        -# = image_tag ("#"), alt: #{'出品タイトル'}, class: #{'ブランド名'}, size:"134x36"
      .items-box__info
        %h3.items-box__name アイテム名4
        .items-box__bottom
          %p.items-box__bottom__price ¥0,000
          %p.items-box__bottom__likes.icon-like 1
          %p.items-box__bottom__tax (税込)

        .items-box__view-all
          =link_to '全ての商品を見る', src:'#'
