.single-wrapper.item-edit-page
  = render "/shared/single-header"
  .single-container
    .item-wrapper
      %h2.title 商品の情報を入力
      = form_for @item, html: {class: "item-new", multipart: true, method: "POST"} do |f|
        - if @item.errors.any?
          - @item.errors.full_messages.each do |message|
            = message
        %section.form-section.media-min
          .input-part
            %h3.input-part__title 出品画像
            %span.input-part__require 必須
            %p.input-part__details 最大10枚までアップロードできます
            -# TODO: ドラッグ&ドロップ、フォームの見た目動作
            -# いま=> アップロードformLv2、普通のフォーム10個展開、同時アップロード

            .image-upload-part
              - @item.images[0..4].each do |image|
                .upload-item
                  = image_tag(url_for(:action => 'show', :id => image.item_id), :class => "upload-item__photo")
                  .upload-item__nav
                    .upload-item__nav__edit
                      %p 編集
                    .upload-item__nav__delete
                      %p 削除
              =f.label :image, class: "input-part__dropbox" do
                .media-min__append--icon
                  = f.file_field :image, class: 'hidden'
                  %pre.media-min__hidden ドラッグアンドドロップ
                  %pre.media-min__hidden またはクリックしてファイルをアップロード
        %section.form-section
          .input-part
            =f.label "商品名", class: "input-part__title"
            %span.input-part__require 必須
            = f.text_field :name, class: "input-part__input", placeholder: "商品名（必須 40文字まで)", value: ""
          .input-part.space
            = f.label "商品の説明", class: "input-part__title"
            %span.input-part__require 必須
            = f.text_area :detail, class: "input-part__textarea textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
        %section.form-section
          .flex-container
            .flex-container__left
              %h3.sell-sub-head 商品の詳細
            .flex-container__right
              .input-part
                = f.label "カテゴリー", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  -# TODO: カテゴリーを格納するデータをどうする？ansectory
                  = f.select :category_id, [["レディース", "1"], ["メンズ", "2"], ["ベビー・キッズ", "3"], ["インテリア・住まい・小物", "4"], ["本・音楽・ゲーム", "5"], ["おもちゃ・ホビー・グッズ", "1328"], ["コスメ・香水・美容", "6"], ["家電・スマホ・カメラ", "7"], ["スポーツ・レジャー", "8"], ["ハンドメイド", "9"], ["チケット", "1027"], ["自動車・オートバイ", "1318"], ["その他", "10"]], {include_blank: true}, class: "input-part__select"
              -# TODO: 特定カ11テゴリの場合 .hiddenをつける、外す JS
              .relative.hidden
                .icon-select
                  -# TODO: カテゴリーを格納するデータをどうする？ansectory
                  = f.select :category_id, [["レディース", "1"], ["メンズ", "2"]], {include_blank: true}, class: "input-part__select"
              .relative.hidden
                .icon-select
                  -# TODO: カテゴリーを格納するデータをどうする？ansectory
                  = f.select :category_id, [["レディース", "1"], ["メンズ", "2"]], {include_blank: true}, class: "input-part__select"
              .space.hidden
              .input-part
                = f.label "サイズ", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  -# TODO: 特定カテゴリ展開時のみ表示させる、連動した条件バリデーション。
                  = f.select :category_id, [["XXS以下", "153"], ["XS(SS)", "154"], ["S", "2"], ["M", "3"], ["L", "4"], ["XL(LL)", "5"], ["2XL(3L)", "155"], ["4XL(5L)以上", "157"], ["FREE SIZE", "7"]], {include_blank: true}, class: "input-part__select"
              .space.hidden
              .input-part
                = f.label "ブランド", class: "input-part__title"
                %span.input-part__option 任意
                -# TODO: 特定カテゴリ展開時のみ表示させる。
                = f.text_field :category_id, class: "input-part__input", placeholder: "例）シャネル", value: ""
              .input-part.space
                = f.label "商品の状態", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  = f.select :condition, Item.conditions_i18n.keys.map {|k| [Item.conditions_i18n[k], k]}, {include_blank: true}, class: "input-part__select"
        %section.form-section
          .flex-container.media-min--clear
            .flex-container__left
              %h3.sell-sub-head 配送について
              =link_to "?", "#", class:"form-question"
            .flex-container__right
              .input-part
                = f.label "配送料の負担", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  = f.select :delivery_cost, Item.delivery_costs_i18n.keys.map {|k| [Item.delivery_costs_i18n[k], k]}, {include_blank: true}, class: "input-part__select"
              .space.hidden
              .input-part
                = f.label "発送の方法", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  = f.select :delivery_method, Item.delivery_methods_i18n.keys.map {|k| [Item.delivery_methods_i18n[k], k]}, {include_blank: true}, class: "input-part__select"
              .input-part.space
                = f.label "発送元の地域", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  = f.select :delivery_prefecture, Item.delivery_prefectures_i18n.keys.map {|k| [Item.delivery_prefectures_i18n[k], k]}, {include_blank: true}, class: "input-part__select"
              .input-part.space
                = f.label "発送までの日数", class: "input-part__title"
                %span.input-part__require 必須
              .relative
                .icon-select
                  = f.select :delivery_day, Item.delivery_days_i18n.keys.map {|k| [Item.delivery_days_i18n[k], k]}, {include_blank: true}, class: "input-part__select"
        %section.form-section
          .flex-container
            .flex-container__left
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              =link_to "?", "#", class:"form-question"
            .flex-container__right
              .input-part
                %ul.input-part__price
                  %li.input-part__price--bace.flex-container
                    .input-part__price--bace--left
                      = f.label "価格", class: "input-part__title"
                      %span.input-part__require 必須
                    .input-part__price--bace--right
                      %p.yen ¥
                      = f.text_field :price, class: "input-part__input", placeholder: "例）300", value: "", maxlength: "7"
                  %li.input-part__price--fee.border-top.flex-container
                    .input-part__price--fee--left 販売手数料 (10%)
                    .input-part__price--fee--right.input-part__price--fee--output -
                    -# TODO: 計算結果
                  %li.input-part__price--total.border-top.flex-container
                    .input-part__price--total--left 販売利益
                    .input-part__price--fee--right.input-part__price--total--output -
                    -# TODO: 計算結果
          -# TODO: モーダル表示 多分出品後のやつ cssが原因だろうが、今のとこアウトしてないと勝手に表に出てきてしまう。
          -# .modal{role: "dialog", tabindex: "-1"}
          -#   .modal-inner
        %section.form-section
          %p.notes
            =link_to "禁止されている出品", "#", class:"notes__link"
            =link_to "行為", "#"
            を必ずご確認ください。
          %p.notes
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売", "#", class:"notes__link"
            は犯罪であり処罰される可能性があります。
          %p.notes
            また、出品をもちまして
            =link_to "加盟店規約", "#", class:"notes__link"
            に同意したことになります。
          -# TODO: submitボタン、要調整、モーダル呼び出しに繋げる
          = f.submit "変更する", class: "submit-btn--red"
          = link_to "キャンセル", "#", class: "submit-btn--gray"
        .overlay
  = render partial: "/shared/single-footer"
