.wrapper
  = render 'shared/header'

  %main
    %section.slick
      %figure.slick-list=image_tag "slider_01.png", alt: "スライダーの画像", class: "slick-list__image"
      %figure.slick-list=image_tag "slider_02.png", alt: "スライダーの画像", class: "slick-list__image"
      %figure.slick-list=image_tag "slider_03.png", alt: "スライダーの画像", class: "slick-list__image"
      %figure.slick-list=image_tag "slider_04.png", alt: "スライダーの画像", class: "slick-list__image"
  %section.pick-up-container
    %h2.pick-up-container__header ピックアップカテゴリー

    %section.item-boxes
      %h3.item-boxes__header.text-center
        = link_to 'レディース新着アイテム', src: '#'

      = render 'shared/items-box'

      .item-boxes__view-all
        =link_to '全ての商品を見る', src:'#'

  = render 'shared/aside'
  = render 'shared/footer'
  = render 'shared/footer-sell-btn'
