= render 'shared/header'
= render 'shared/breadcrumb'

.item-detail-page
  %main.single-container
    .panel
      %h2.panel__head 商品詳細情報
      .item-info
        .item-info__photo
      .visible-sp-only
        .item-info__price
          %p
            ¥ 1,000
            %span.item-info__price__tax (税込)
            %span.item-info__price__sipping 送料込み

        .sales-message 売上金●●円をお持ちです
        .buy-btn 購入画面に進む
      %table.detail-info
        %tbody
          %tr
            %th 出品者
            %td.detail-info__nickname.detail_link
              =link_to '出品者名','#'
              .detail-info__ratings
                %p.icon-good
                %span 106
                %p.icon-normal
                %span 2
                %p.icon-bad
                %span 0
          %tr
            %th カテゴリー
            %td.detail-info__category
              %p.detail_link=link_to 'カテゴリー１', '#'
              %p.icon-arrow-right.detail_link=link_to 'カテゴリー２', '#'
              %p.icon-arrow-right.detail_link=link_to 'カテゴリー３', '#'

          %tr
            %th ブランド
            %td.detail-info__brand
              %p.detail_link=link_to 'ブランド名', '#'
          %tr
            %th 商品の状態
            %td 目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td 普通郵便(定形、定形外)
          %tr
            %th 配送元地域
            %td
              %p.detail_link=link_to '県名', '#'
          %tr
            %th 発送日の目安
            %td 4~7日で発送
      .item-info
        .item-info__price
          %p
            ¥ 1,000
            %span.item-info__price__tax (税込)
            %span.item-info__price__sipping 送料込み

    -# = if current_user.id == item(:id).users.seller_id
      item userが多対多で実装できるのか？あとで相談
        .sales-message 売上金●●円をお持ちです
        .buy-btn 購入画面に進む

      .item-info__description
        %p 商品詳細説明がここに入ります

      .like-report
        %button.like-report__btn
          %p.icon-like いいね！

        %button.like-report__btn
          %p.icon-report 不適切な商品の報告
        %p.icon-lock.trial-to-safe=link_to 'あんしん・あんぜんへの取り組み', '#'

  .myItem-container
    .myItem-container__inner
      %button.edit-item__btn=link_to "商品の編集", edit_item_path
      %p or
      %button.suspend-item__btn=link_to "出品を一時停止する", '#'
      %button.delete-item__btn#modal-open=link_to "この商品を削除する", '#'

  .modal-ovelay
    #modal-window.modal
      .modal__inner--top
        .alert
          %h3.alert__header 確認
          %p.alert__message
            削除すると二度と復活できません
            %br 削除する代わりに停止することもできます

          %p.alert__message 本当に削除しますか？
      .modal__inner--bottom
        %ul.delete-choice
          %li.delete-choice__cancel
            %p#close-modal キャンセル
          %li.delete-choice__delete
            =link_to "削除する", "#", id: "close-modal"

  %ul.other-item
    %li.other-item__previous.icon-arrow-l 前の商品
    %li.other-item__next.icon-arrow-r 次の商品

  .sns-wrapper
    .sns-wrapper__icon.icon-facebook
    .sns-wrapper__icon.icon-twitter
    .sns-wrapper__icon.icon-line
    .sns-wrapper__icon.icon-pinterest

  %section.pick-up-container
    %h2.pick-up-container__header 「出品者の名前」さんのその他の出品
    = render 'shared/items-box'

  %section.pick-up-container
    %h2.pick-up-container__header 「カテゴリー名」のその他の商品
    = render 'shared/items-box'
= render 'shared/footer'
