- breadcrumb :new_card
.wrapper.card-create-page
  = render 'shared/header'
  = render 'shared/breadcrumb'

  .two-column-container
    .two-column-container__r
      .registration
        .panel
          %h2.panel__head 支払い方法
          .panel__inner
            = form_with url: root_path  do |f|
              .content
                .form-group
                  = f.label "カード番号", class:"form-group__label"
                  %span{class:"form-group__require"} 必須
                  = f.text_field :number, class:"form-group__input", placeholder: "半角数字のみ", maxlength: "16"
                  .form-group__card-logos
                    = image_tag 'visa_logo.png', height:'20px'
                    = image_tag 'mastercard_logo.png', height:'20px'
                    = image_tag 'saison_logo.png', height:'20px'
                .form-group
                  = f.label "有効期限", class:"form-group__label"
                  %span{class:"form-group__require"} 必須
                  .form-group__expiration-wrap
                    = f.select :exp_month, [["--",""],["1","01"],["2","02"],["3","03"],["4","04"],["5","05"],["6","06"],["7","07"],["8","08"],["9","09"],["10","10"],["11","11"],["12","12"]]
                    .icon-chevron-bottom
                    %span 月
                  .form-group__expiration-wrap
                    = f.select :exp_year, [["--",""],["19","2019"],["20","2020"],["21","2021"],["22","2022"],["23","2023"],["24","2024"],["25","2025"],["26","2026"],["27","2027"],["28","2028"],["29","2029"],]
                    %span 年
                    .icon-chevron-bottom
                .form-group
                  = f.label "セキュリティコード", class:"form-group__label"
                  %span{class:"form-group__require"} 必須
                  = f.text_field :cvc, class:"form-group__input", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4"
                  .form-group__card-info
                    .icon-question-circle
                    =link_to "カード裏面の番号とは？", src:"#", class:"icon-chevron-right"

                  %p= f.submit "追加する", class: "card-registration-btn"

    = render 'shared/mypage-nav'
    = render 'shared/footer-sell-btn'
