.default-container
  %header.sp-header
    .sp-header__inner.visible-sp
      .sp-header__inner__logo
        = link_to 'メルカリトップページへのリンク', src: '#' do
          -# = image_tag src: '#', alt: 'mercari'  画像の置き場所が決まったらコメントアウト外す

      .sp-header__user__nav.clearfix
        .sp-header__user-icon.icon-bell
          = link_to 'マイページお知らせへのリンク', src: '#', class: 'sp-header__user-icon' do
            %figure
              %i.fas.fa-bell.icon-bell
              -# iconはcssのbefore要素で入っているかもしれないので、あとで検討する
            %figcaption お知らせの数
          
          = link_to 'マイページtodoへのリンク', src: '#', class: 'sp-header__user-icon' do
            %figure
              %i.fas.fa-bell.icon-check
              -# iconはcssのbefore要素で入っているかもしれないので、あとで検討する
          
          = link_to 'マイページへのリンク', src: '#', class: 'sp-header-user-icon sp-header-user-profile' do
            %figure
              = image_tag crc: '#', alt: 'プロフィール写真'

  %header.pc-header
  %main
  %aside
  %footer
    =link_to '出品する', class: 'footer_sell_btn', src: '#'
